<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.441826941694-0d9d36qh80ghnl1ppeej1v8bf6kbheql</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>441826941694-0d9d36qh80ghnl1ppeej1v8bf6kbheql.apps.googleusercontent.com</string>
</dict>
</plist>
